/* component */
.profile__header,
.activity__header,
.find__header,
.index__header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fafafa;
  margin-bottom: 10px;
}
.profile__header-top,
.activity__header-top,
.find__header-top,
.index__header-top {
  display: flex;
  padding: 0px 25px 10px;
}
/* index */
.index__header-top {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b0b0b0;
  font-size: 30px;
}
.index__header-top-font {
  font-family: "Cookie", cursive;
  font-size: 50px;
  font-weight: 600;
}
/* find */
.find__header-top {
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.find__header-box i {
  font-size: 25px;
}
.find__header-top div:first-child {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}
.find__header-top div:last-child {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.find__header-top-input {
  position: relative;
}
.find__header-top-input input {
  text-align: start;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  background-color: #efefef;
  border-style: none;
  color: #a1a1a4;
  padding-left: 40px;
}
.find__header-top-input i {
  position: absolute;
  left: 15px;
  bottom: 7px;
  color: #a1a1a4;
}
.find__header-bottom {
  overflow: scroll;
  display: flex;
  width: auto;
}
.find__header-bottom::-webkit-scrollbar {
  background: transparent;
}
.find__header-bottom-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 3px 20px;
  margin: 0px 4px;
  border-radius: 15%;
  background-color: white;
  white-space: nowrap;
}
.find__header-bottom-category i {
  font-size: 7px;
}
/* active */
.activity__header-top {
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #b0b0b0;
}
.activity__header-top span {
  display: flex;
  justify-content: center;
}

/* profile */

.profile__header-top {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
