.blue-notification {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #3797f0;
  border: 1.5px solid white;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 48px;
  top: 135px;
  color: white;
}
