@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

@import "variables.css";
@import "reset.css";

/* component */

@import "component/status-bar.css";
@import "component/notification.css";

/* screen */
@import "screen/index.css";
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
body {
  padding: 0px;
  margin: 0px;
  height: auto;
}
.main-screen {
  font-family: "Open Sans", sans-serif;
  padding: 0px 25px;
}
