.find__main {
  padding: 135px 0px 70px;
  overflow: auto;
}
.find__main-img-second,
.find__main-img {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.find__main-small {
  width: 33.5%;
}
.find__main-large {
  width: 66.5%;
}
.find__main-large img,
.find__main-small img {
  max-width: 100%;
  max-height: 100%;
}
